In [1]:
sc

In [2]:
#BD ORIGEN
hostname = "127.0.0.1" #EN LA MAQUINA EN HEROKU
dbname = "farmadb"
jdbcPort = 3306
username = "root"
password = "12345"
jdbc_url = "jdbc:mysql://{0}:{1}/{2}?user={3}&password={4}"\
            .format(hostname, jdbcPort, dbname, username, password)

query = "(select * from FAMILIA) t1_alias"
df1 = sqlContext.read.format('jdbc')\
        .options(driver = 'com.mysql.jdbc.Driver', url=jdbc_url, dbtable=query).load()
df1.show()

+------+----------+
|Fam_id|   Nom_fam|
+------+----------+
|     1|   TABLETA|
|     2|INYECTABLE|
|     3|SUSPENSION|
+------+----------+

In [3]:
df1.createOrReplaceTempView("mytable") 
df2 = spark.sql("SELECT * from mytable ") #where Fam_id >1
df2.show()

+------+----------+
|Fam_id|   Nom_fam|
+------+----------+
|     2|INYECTABLE|
|     3|SUSPENSION|
+------+----------+

In [4]:
# db destino condigs
url = "jdbc:mysql://localhost/mi1db"
properties = {
    "driver": "com.mysql.jdbc.Driver",
    "user": "root",
    "password": "12345"
}

In [5]:
mode = "overwrite"
df2.write.jdbc(url=url, table="DFam", mode=mode, properties=properties)