In [1]:
sc.version

'2.4.5'

In [4]:
#from pyspark import SparkContext
#sc = SparkContext.getOrCreate()
#sqlContext = SQLContext(sc)

df = sqlContext.read.format('csv').options(header='true', inferschema='true')\
    .load('../ubigeo.csv')
df.rdd.take(3)

[Row(IdUbigeo=51010000, Distrito=None, Provincia=None, Departamento='Amazonas', PAIS='Peru', PAIS_DPTO='Peru Amazonas', PAIS_DPTO_PROV='Peru Amazonas ', PAIS_DPTO_PROV_DIST='Peru Amazonas  '),
 Row(IdUbigeo=51010100, Distrito=None, Provincia='Chachapoyas', Departamento='Amazonas', PAIS='Peru', PAIS_DPTO='Peru Amazonas', PAIS_DPTO_PROV='Peru Amazonas Chachapoyas', PAIS_DPTO_PROV_DIST='Peru Amazonas Chachapoyas '),
 Row(IdUbigeo=51010101, Distrito='Chachapoyas', Provincia='Chachapoyas', Departamento='Amazonas', PAIS='Peru', PAIS_DPTO='Peru Amazonas', PAIS_DPTO_PROV='Peru Amazonas Chachapoyas', PAIS_DPTO_PROV_DIST='Peru Amazonas Chachapoyas Chachapoyas')]

In [7]:
#df.toPandas()

In [8]:
hostname = "127.0.0.1" 
dbname = "farmadb"
jdbcPort = 3306
username = "root"
password = "12345"
jdbc_url = "jdbc:mysql://{0}:{1}/{2}?user={3}&password={4}"\
            .format(hostname, jdbcPort, dbname, username, password)

query = "(select * from FAMILIA) t1_alias"
df1 = sqlContext.read.format('jdbc')\
        .options(driver = 'com.mysql.jdbc.Driver', url=jdbc_url, dbtable=query).load()
df1.show()

+------+----------+
|Fam_id|   Nom_fam|
+------+----------+
|     1|   TABLETA|
|     2|INYECTABLE|
|     3|SUSPENSION|
+------+----------+

In [9]:
df1.toPandas()

   Fam_id     Nom_fam
0       1     TABLETA
1       2  INYECTABLE
2       3  SUSPENSION